@page
@model CrudApp.Pages.Clientes.EditModel

@{
    ViewData["Title"] = "Edit";
}
<html>
<head>
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cliente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/demo.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/navigation-icons.css">
    <link rel="stylesheet" href="../css/slicknav/slicknav.min.css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/Index">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Clientes/Index">Cadastro Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Enderecos/Index">Cadastro Dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Lojas/Index">Cadastro Lojas</a>
                </li>
            </ul>
        </div>
    </nav>


    <h4>Editar Usuário</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Cliente.Id" />
                <div class="form-group">
                    <label asp-for="Cliente.Nome" class="control-label"></label>
                    <input asp-for="Cliente.Nome" class="form-control" />
                    <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.CPF" class="control-label"></label>
                    <input asp-for="Cliente.CPF" class="form-control" />
                    <span asp-validation-for="Cliente.CPF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.RG" class="control-label"></label>
                    <input asp-for="Cliente.RG" class="form-control" />
                    <span asp-validation-for="Cliente.RG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.DataNascimento" class="control-label"></label>
                    <input asp-for="Cliente.DataNascimento" class="form-control" />
                    <span asp-validation-for="Cliente.DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Cliente.Ativo" /> @Html.DisplayNameFor(model => model.Cliente.Ativo)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Cliente.Inativo" /> @Html.DisplayNameFor(model => model.Cliente.Inativo)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Volar</a>
    </div>

    <br>
    <br>
    <br>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
